html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    justify-content: center;
    background-color: #000000;  
    color: #FFFFFF;
    margin: 0; 
    padding: 0;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 10px; 
    border-radius: 5px; 
    background-color: white;
    width: 30%; 
    margin: 0 auto; 
    font-weight: 550;
    transition: transform 0.3s ease;
    position: relative; 
    text-align: center; 
}

.stats:hover {
    transform: scale(1.07);
}

#projectCount {
    color: #070707; 
}

#projectCount:hover {
    color: #d56696;
}

#viewCount {
    color: #070707; 
}

#viewCount:hover {
    color: #d56696;
}

@media (max-width: 768px) {
    .stats {
        width: 90%; 
    }
}


.github-stats {
    padding: 20px;
    text-align: center;
    background-color: #efd809; 
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid #d56696;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);  
    max-width: 800px;  
}

.github-stats h2 {
    color: black;  
}

.github-stats ul {
    list-style: none;
    padding: 0;
}

.github-stats ul li {
    background-color: #1A1A1A; 
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  
    color: #FFFFFF;  
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github-stats ul li:hover {
    background-color: #333333;
}

.github-stats ul li .label {
    color: #d56696;
}

.github-stats ul li .value {
    color: #8BE9FD;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #121212;
    border-top: 2px solid #d56696;
}

.socials a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #1A1A1A;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.socials a:hover {
    background-color: #d56696;
    color: #121212;
}

.socials a.website { background-color: #0D7377; }
.socials a.gmail { background-color: #D44638; }
.socials a.github { background-color: #6e5494; }
.socials a.linkedin { background-color: #0077b5; }
.socials a.twitter { background-color: #1da1f2; }
.socials a.youtube { background-color: #ff0000; }
.socials a.medium { background-color: #00ab6c; }
.socials a.hashnode { background-color: #2962FF; }
.socials a.devpost { background-color: #003E54; }
.socials a.leetcode { background-color: #F89F1B; }
.socials a.stack-overflow { background-color: #F48024; }
.socials a.instagram { background-color: #E4405F; }
.socials a.discord { background-color: #7289da; }

#projects {
    padding: 20px;
    background-color: white;
}

.section-title {
    color: black;
    text-align: center;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
    position: relative; 
}

.section-title:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .section-title {
        font-size: 1.5em; 
    }
}


.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-item {
    margin-top: 20px;
    background-color: #090909;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(226, 219, 219, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
    position: relative; 
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item img {
    width: 100%;
    height: auto;
}

.project-content {
    padding: 20px;
}

.project-content h3 {
    font-family: 'Aharoni';
    font-weight: 1000;
    font-size: 1.5em;
    color: #e5d73d;
}

.project-content p {
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f3ecec;
    margin: 10px 0;
}

.project-content .stack h4 {
    font-size: 1em;
    color: #d56696;
}

.project-content a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    color: #fff;
    background-color: #d56696;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.project-content a:hover {
    background-color: #d56696;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}

#youtube {
    display: flex;
    background: linear-gradient(to right, #1c1c1c, #333);
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
}

.left-div {
    padding: 20px;
    box-sizing: border-box;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
}

.left-div:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.right-div {
    background: #ffcc00;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
}

.right-div p {
    padding: 20px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #111;
    text-align: center;
    margin: 0;
    font-weight: 700;
}

.right-div h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

@media (max-width: 768px) {
    .right-div h2{
        font-size: 1.5em; 
    }
}

@media (min-width: 768px) {
    #youtube {
        flex-direction: row;
        height: 400px;
    }

    .left-div {
        height: 300px;
        flex: 1;
        margin: 0 20px;
    }

    .right-div {
        flex: 1;
        height: 300px;
        width: 300px;
        margin-left: 20px;
        margin-top: 0;
    }
}


#skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
}

#skills > div {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
    position: relative; 
}

#skills > div:hover {
    transform: scale(0.9);
}

.icons {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #d56696;
}

p {
    font-size: 1em;
    line-height: 1.5;
    color: #333;
}

.icons {
    height: 149px;
    width: 149px;
}

@keyframes slideIn {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}
